/* --- RESETS --- */
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h3,
h4,
p {
    margin: 0;
}

/* --- GENERAL SETUP --- */
:root {
    /* Fonts */
    --font-primary: 'Verdana', sans-serif;
    --font-secondary: 'Sniglet', sans-serif;
    /* Font weight */
    --font-weight-light: 200;
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 800;
    /* Font colors */
    --white: #FFF;
    --white-semi-transparent: #ffffffd0;
    --donut-pink: #FC546D;
    --grey-dark: #514E4E;
    --grey-light: #8B8B9B;
    --grey-light-2: #DEDEDE;
    /* Border radius */
    --border-radius-3: 3px;
    --border-radius-5: 5px;
    --border-radius-50: 50px;
}

/* --- TYPOGRAPHY --- */
.logo-title,
.logo-subtitle {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-regular);
}

.logo-title {
    color: var(--donut-pink);
    font-size: 1.6rem;
}

.logo-subtitle {
    color: var(--grey-dark);
    font-size: 1.2rem;
}

.item-name,
.item-ingredients,
.item-price {
    font-family: var(--font-primary);
}

.item-name {
    font-weight: var(--font-weight-regular);
    font-size: 1rem;
    margin-bottom: 0.2em;
}

.item-ingredients {
    color: var(--grey-light);
    font-size: 0.8rem;
    text-transform: lowercase;
    font-weight: var(--font-weight-light);
    margin-bottom: 0.6em;
}

.item-price {
    font-weight: var(--font-weight-regular);
    font-size: 1.2rem;
}

/* --- HEADER --- */
.header-container {
    background-image: url("../assets/images/donut-shop.png");
    background-size: 100%;
    background-position: left;
    width: 100%;
    padding: 1.5em;
}

.header-background {
    display: inline-block;
    background: var(--white-semi-transparent);
    border-radius: var(--border-radius-5);
    padding: 0.5em 1em;
}

/* --- LAYOUT --- */
.menu-container {
    padding: 1.5em;
}

.menu-item-container {
    display: grid;
    grid-template-columns: 22% 63% 15%;
    align-items: center;
    padding: 1em 0;
    border-bottom: 0.5px solid var(--grey-light-2);
    position: relative;
}

.menu-item-description {
    align-self: start;
    padding-left: 0.5em;
}

/* --- IMAGES --- */
.menu-item-img {
    max-width: 80px;
    border-radius: var(--border-radius-3);
}

.badge-img {
    width: 18px;
}

/* --- BUTTONS AND LINKS --- */
.btn-add {
    border-radius: var(--border-radius-50);
    height: 35px;
    width: 35px;
    background-color: var(--white);
    border: 0.5px solid var(--grey-light-2);
    font-size: 1.3rem;
    justify-self: end;
}

.btn-add:hover,
.btn-add:focus {
    background: var(--donut-pink);
    color: var(--white);
    border: none;
}